@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import "tailwindcss";


@plugin "daisyui" {

  themes: light --default;

}

/* Light Theme: Fresh Olive & Pale Leaf */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #4f6900;
  /* --color-primary: #c1d18f; */
  /* Apnar deya base color */
  --color-primary-content: #0a0b08;
  /* Contrast text for primary button */

  --color-secondary: #8da16d;
  /* Muted Sage */
  --color-accent: #d4a373;
  /* Earthy Sand/Tan */

  --color-neutral: #1a1c16;

  /* Dark Mossy Black for text */

  --color-base-100: #fcfdfa;
  /* Clean White with a hint of green */
  --color-base-200: #696969;

  /* Subtle Sidebar/Card color */
  --color-base-300: #f6ffe6;
  /* Borders and Dividers */
}

/* Dark Theme: Deep Forest & Neon Lime */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #c1d18f;
  /* Primary color fixed for branding */
  --color-primary-content: #e4e6e0;

  --color-secondary: #357930;
  /* Deep Forest Green */
  --color-accent: #544829;
  /* Dark Gold/Bronze */

  --color-neutral: #efffef;
  /* Near White for dark mode text */

  --color-base-100: #0f120f;
  /* Deep Night Green background */
  --color-base-200: #4B5563;
  /* Card/Section background */
  --color-base-300: #242b24;
  /* Subtle Borders */
}


* {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}