/* From Uiverse.io by 20essentials */

/* Centers the loader in the middle of the screen */
.loader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9); /* optional backdrop */
  z-index: 9999;
}

/* Actual loader */
.container-loader {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(60deg);
}

.container-loader .aro {
  position: absolute;
  inset: calc(var(--s) * 10px);
  box-shadow: inset 0 0 80px white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: standalone 3s infinite ease-in-out both;
  animation-delay: calc(var(--s) * -0.1s);
}

@keyframes standalone {
  0%,
  100% {
    transform: translateZ(-100px) scaleX(-1);
  }
  50% {
    transform: translateZ(100px) scaleX(1);
  }
}
